
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Dosis);


p, li {
    padding: 0;
    margin-bottom: 22px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    list-style: none;
}
h1,h2{
    font-family: 'Raleway',sans-serif; 
}
p.sub-text.text-center {
font-size: 24px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/******* Blog ******/
/*-------------------------------------------------------------------------------------------------------------------------------*/


section.blog {
    margin-top: 120px;
}
.blok-read-sm
{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #e1e8ed;
    background: #fff;
}

.blok-read-sm img
{
    width: 100%;
    height: auto;
}

.content-block .button-main {
    border: 1px solid rgba(47, 116, 116, 1);
    background: rgba(47, 116, 116, 1);
    padding: 20px 22px;
    line-height: 10px;
    color: white;
    text-transform: capitalize;
    float: left;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
    .button-main.bg-fio-point:hover {
    background: none;
    border: 1px solid rgba(47, 116, 116, 1);
    color: rgba(47, 116, 116, 1);
    }

.hover-image
{
    position: relative;
    width: 100%;
    float: left;
}

.layer-block {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
background: rgba(252, 252, 252, 0.25);
opacity: 0;
transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
-ms-transition: all 0.3s ease-in;
}

.layer-block:hover
{
    opacity: 1;
}

.editor-choice {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #41657C;
    height: 30px;
    padding: 4px 11px;
    z-index: 8;
}

.editor-choice i
{
    font-size: 12px;
    color: #C8C5B8;
    padding-right: 5px;
}

.editor-choice a
{
    color: #C8C5B8;
    font-size: 12px;
}

.content-block
{
    position: relative;
    float: left;
    width: 100%;
    padding: 30px 30px 38px 30px;
}


.content-block p
{
    padding: 22px 0px 27px;
}

.content-block h4 a
{
    color: #354b5e;
}

.content-block h4 a:hover
{
    color: #8899a6;
}

.like-wrap
{
    position: relative;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.like-wrap .fa
{
    font-size: 16px;
    line-height: 32px;
    position: relative;
    float: left;
    padding-left: 30px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
}

.like-wrap .fa:hover
{
    opacity: 0.7;
}

.like-wrap span
{
    font-size: 14px;
    line-height: 30px;
    color: #ccd6dd;
    position: relative;
    float: left;
    padding-left: 8px;
}

.point-caption
{
    position: absolute;
    left: 0px;
    top: 38px;
    height: 18px;
    width: 6px;
}

.like-bottom
{
    position: relative;
    float: left;
}

.bottom-line
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
}

.top-line
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2px;
}

.block-mag
{
    position: relative;
    float: left;
    margin-right: 33px;
    margin-top: -8px;
}